<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.couchbase.persona"
    version="0.1.2">

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>

  <name>CordovaPersona</name>

  <platform name="ios">
    <js-module src="www/cordova-persona.js" name="CordovaPersona">
      <clobbers target="window.presentPersonaDialog" />
    </js-module>

    <config-file target="config.xml" parent="/widget/plugins">
      <feature name="CBCordovaPersona">
        <param name="ios-package" value="CBCordovaPersona"/>
      </feature>
    </config-file>

    <header-file src="src/ios/CBCordovaPersona.h" />
    <source-file src="src/ios/CBCordovaPersona.m" />

    <header-file src="vendor/browserid-ios/Sources/PersonaController.h" />
    <source-file src="vendor/browserid-ios/Sources/PersonaController.m" />

    <resource-file src="vendor/browserid-ios/Sources/PersonaController.js" />

    <header-file src="vendor/browserid-ios/Sources/PersonaController+UIKit.h" />
    <source-file src="vendor/browserid-ios/Sources/PersonaController+UIKit.m" />

  </platform>

</plugin>
